@font-face {
    font-family: 'katibehregular';
    src: url('katibeh-regular-webfont.woff2') format('woff2'),
         url('katibeh-regular-webfont.woff') format('woff'),
         url('katibeh-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'k2dbold';
    src: url('k2d-bold-webfont.woff2') format('woff2'),
         url('k2d-bold-webfont.woff') format('woff'),
         url('k2d-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'k2dbold_italic';
    src: url('k2d-bolditalic-webfont.woff2') format('woff2'),
         url('k2d-bolditalic-webfont.woff') format('woff'),
         url('k2d-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'k2ditalic';
    src: url('k2d-italic-webfont.woff2') format('woff2'),
         url('k2d-italic-webfont.woff') format('woff'),
         url('k2d-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'k2dregular';
    src: url('k2d-regular-webfont.woff2') format('woff2'),
         url('k2d-regular-webfont.woff') format('woff'),
         url('k2d-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

* {
  box-sizing: border-box;
}

body {
  background-color: floralwhite;
  color: #011f0a;
}

[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px;
}

@media only screen and (min-width: 600px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  h1 {
    font-size: 120px;
  }

  strong {
    font-size: 90px;
  }
}

@media only screen and (max-width: 599px) {
  h1 {
    font-size: 20vw;
  }
  strong {
    font-size: 14vw;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


h1 {
  font-family: 'katibehregular';
  font-weight: normal;
  line-height: 0;
  padding-left: 20px;
}

strong {
  font-family: 'katibehregular';
  font-weight: normal;
  line-height: 90%;
}

em {
  font-family: 'k2dbold';
  font-size: 20px;
  font-style: normal;
  padding-left: 20px;
}

p {
  font-family: 'k2dregular';
  font-size: 18px;
  font-style: normal;
  padding: 0px 20px;
}

button {
  font-family: 'katibehregular';
  font-size: 40px;
  width: 100%;
  height: 150px;
  background-color: grey #cc6ddf;
  border-radius: 10px;
  border-width: 3px;
}



img {
  max-width: 50%;
  height: auto;
  width: auto;
  max-height: 300px;
}
