@font-face {
    font-family: 'katibehregular';
    src: url('katibeh-regular-webfont.woff2') format('woff2'),
         url('katibeh-regular-webfont.woff') format('woff'),
         url('katibeh-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'k2dbold';
    src: url('k2d-bold-webfont.woff2') format('woff2'),
         url('k2d-bold-webfont.woff') format('woff'),
         url('k2d-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'k2dbold_italic';
    src: url('k2d-bolditalic-webfont.woff2') format('woff2'),
         url('k2d-bolditalic-webfont.woff') format('woff'),
         url('k2d-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'k2ditalic';
    src: url('k2d-italic-webfont.woff2') format('woff2'),
         url('k2d-italic-webfont.woff') format('woff'),
         url('k2d-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'k2dregular';
    src: url('k2d-regular-webfont.woff2') format('woff2'),
         url('k2d-regular-webfont.woff') format('woff'),
         url('k2d-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

* {
  box-sizing: border-box;
}

body {
  background-color: floralwhite;
  color: #011f0a;
}

[class*="col-"] {
  width: 100%;
  float: left;
  padding: 5px;
}

@media only screen and (min-width: 600px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  h1 {
    font-size: 120px;
  }

  strong {
    font-size: 90px;
    padding-left: 0px;
  }
}

@media only screen and (max-width: 599px) {
  h1 {
    font-size: 20vw;
  }
  strong {
    font-size: 14vw;
    padding-left: 20px;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


h1 {
  font-family: 'katibehregular';
  font-weight: normal;
  line-height: 0;
  padding-left: 20px;
}

strong {
  font-family: 'katibehregular';
  font-weight: normal;
  line-height: 90%;
}

em {
  font-family: 'k2dbold';
  font-size: 20px;
  font-style: normal;
  padding: 15px 20px;
display: inline-block;
  line-height: 120%;
}

p {
  font-family: 'k2dregular';
  font-size: 18px;
  font-style: normal;
  padding: 0px 20px;
    line-height: 130%;
}

#home-work {
  font-family: 'katibehregular';
  font-size: 40px;
  width: 100%;
  height: 150px;
  background-color: grey #cc6ddf;
  border-radius: 10px;
  border-width: 3px;
}

button {
  font-family: 'katibehregular';
  font-size: 40px;
  width: 100%;
  background-color: grey #cc6ddf;
  border-radius: 10px;
  border-width: 3px;
  margin-bottom: 15px;
  border-color: black;
  border-style: solid;
}

button:hover {
  border-color: grey;
}

button:active {
  border-color: white;
}

.half {
  width:50%;
  float: left;
  padding: 5px;
}

.link {
  height: auto;
  width: 100%;
  border-radius: 10px;
  display: block;
  border: none;
}

#website {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}


.link-container {
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  right:0;
  bottom:0;
  background-color: #FFFFFF90;
  overflow: hidden;
  width: 0;
  height: calc(100% - 2*5px);
  margin: 5px;
  border-radius: 10px;
  transition: .5s ease;
  display: block;
}

.link-container:hover .overlay {
  width: calc(100% - 2*5px);
}


.link-text {
  white-space: nowrap;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 10px;
  background-color: floralwhite;
  color: black;
  padding: 16px 16px;
  border-radius: 5px;
}


img {
  height: auto;
  width: 100%;
  padding: 5px;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gallery-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1200px) {
  .gallery-column{
    flex-direction: row;
  }
  }
